<!DOCTYPE html>
<html>
<head>
  <title>Intro to Rack</title>
  <script src="/js/jquery-2.1.3.js"></script>
  <style>
    #container { }
  </style>
</head>
<body>
  <div id="container">
    <h1>Intro to Rack - Middleware Exercise
  </div>
  <script>
    var entries = <%= entries %>;
  </script>
</body>
</html>
